@{
    Layout = "~/_Layout.cshtml";
    WebSecurity.Logout();
    Response.Redirect("~/Default");
}

<h1>Logout</h1>
<p>You are now logged out!</p>
<p><a href="@Href("~/Default")">Return to home page</a></p>
