@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Stagehub";
    var db = Database.Open("Stages") ;
    var query = "SELECT * FROM stages";
    var data = db.Query(query);
    var grid = new WebGrid(source: data);
}

    <h1>Stage overzicht</h1>
    <h2>Voorbeelden van items op een pagina laten zien afgescheiden door streep</h2>
    <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Zoeken...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Zoek!</button>
      </span>
    </div>
  </div><br /><br />
	<div class="fluid-container content-container" id="stages">
		@foreach (var stage in data)
  {
              <div class="stage">
  		<div class="col-md-1 side-image"><img class="img-responsive" src="@stage["image"]"></div>
  		<div class="col-sm-6 col-lg-4 content"><b>@stage["name"]</b><p class="">@stage["description"]</p><a href="#">link</a>
  		</div>
      <div style="clear:both"></div>
    </div>
  }
      <div style="clear:both"></div>
    </div>
    <!-- TABLES, gewoon gecomment laten. Wie weet gebruiken we dezen later.
<h2>3 en 4 gecombineerd</h2>
		<table class="table table-hover table-bordered"> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td></td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td></td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td></td> </tr> </tbody> </table>
	<h2>2 en 4 gecombineerd</h2>
		<table class="table table-hover table-striped"> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td></td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td></td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td></td> </tr> </tbody> </table>
	-->